.places-grid {
  box-sizing: border-box;
  margin: 130px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: auto;
  background-color: #f2f2f2;
}

@media screen and (max-width: 675px) {
  .places-grid {
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    margin: 45px 0 0;
  }
}