.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  max-width: 550px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 535px) {
  .wrap {
    row-gap: 12px;
    max-width: 500px;
  }
}