.lead__image {
  max-width: 100%;
}

@media screen and (max-width: 745px) {
  .lead__image {
    max-width: 50%;
  }
}

@media screen and (max-width: 535px) {
  .lead__image {
    max-width: 100%;
  }
}