.footer {
  background-color: #fdcda6;
  min-height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    min-height: 35vmax;
  }
}